.players-bar {
	display: flex;
	justify-content: space-between;
	margin: 0 20%;
}

.player {
	height: 40px;
}

.player-name {
	display: table-cell;
    vertical-align: middle;
	font-size: 1.2rem;
	height: 40px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	text-align: center;
	text-transform: uppercase;
}

.player1 {
	background-color:royalblue;
}

.player2 {
	background-color:#888888;
}
