.turn-card {
    background-color: #1e2935;
    color: white;
    font-size: 1.3rem;
    padding: 0rem 1.5rem;
    height: 11rem;
    width: 12rem;
}

.turn-card-header {
    text-align: center;
}

.player-piece {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
}

.player1 {
    background-color: royalblue;
}
.player2 {
    background-color: #888888;
}
