body {
    background-color: #131921;
}

* {
    font-family: Poppins;
}

.page-title {
    width: 25rem;
    font-size: 3rem;
    margin: 0 auto;
    padding: 1rem 0;
    text-transform: uppercase;
    color: white;
}

.page-action-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.page-main-content {
    display: flex;
    justify-content: center;
}
